<div class="page-container">

<div class="items-header">
  <h2>In <span class="text-cursive">My Kitchen</span>...</h2>
  <%= button_tag image_tag("help.png", size: "40x40"), class: 'btn-help' %>
</div>

<div>
      <% @items.each do |item| %>
        <div class="item-row" data-id="<%= item.id %>">
          <div><%= item.name %></div>
          <%= colorized_expiration_date(item.expiration_date) %>
        </div>
        <div class="action-row">
          <div><%= link_to 'Show', item %></div>
          <div><%= link_to 'Edit', edit_item_path(item) %></div>
          <div><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      <% end %>
</div>

<br>

<%= link_to 'New Item', new_item_path %>

</div>
