<div class="page-container">

<div class="items-header">
  <h2>In <span class="text-cursive">My Kitchen</span></h2>
  <%= button_tag image_tag("help.png", size: "40x40"), class: 'btn-help', data: {toggle: 'tooltip', html: true, placement: 'left', title: '<p class="text-danger">Expires in <b>less than 3 days</b></p><p class="text-warning">Expires in <b>less than 7 days</b></p><p class="text-success">Expires <b>after 7 days</b></p>' } %>
</div>

<% @items.each do |item| %>
  <div class="item-row" data-id="<%= item.id %>">
    <div><%= item_with_quantity(item) %></div>
    <%= colorized_expiration_date(item.expiration_date) %>
  </div>
  <div class="action-row">
    <div><%= link_to 'Show', item %></div>
    <div><%= link_to 'Edit', edit_item_path(item) %></div>
    <div><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  </div>
<% end %>

<br>

<div class="btn-new-container">
  <%= link_to 'New Item', new_item_path, class: 'btn btn-primary' %>
</div>
