<h2>What's in <span class="text-cursive">My Kitchen</span>...?</h2>

<div>
      <% @items.each do |item| %>
        <div class="item-row" data-id="<%= item.id %>">
          <div><%= item.name %></div>
          <div><%= item.expiration_date %></div>
        </div>
        <div class="action-row">
          <div><%= link_to 'Show', item %></div>
          <div><%= link_to 'Edit', edit_item_path(item) %></div>
          <div><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      <% end %>
</div>

<br>

<%= link_to 'New Item', new_item_path %>
