<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<% if @item.quantity > 1 %>
  <p>
    <strong>Quantity:</strong>
    <%= @item.quantity %>
  </p>
<% end %>

<p>
  <strong>Expiration date:</strong>
  <%= @item.expiration_date %>
</p>

<% if @item.item_type %>
  <p>
    <strong>Item type:</strong>
    <%= @item.item_type %>
  </p>
<% end %>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
